# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
.env

# DVC (estos los maneja DVC, no Git)
data/raw/audio/
data/processed/embeddings/
models/

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/